@import "variables";
@import "footer";
@import "mixins";

h1 {
    color: $primary-color;
    background-color: $primary-color-dark;
    @include respond-min($breackpoint-sm) {
        background-color: green;
        font-size: 2rem;
  }
   @include respond-min($breackpoint-md) {
        background-color: red;
        font-size: 3rem;
  }
}

h2 {
    color: $primary-color-dark;
    background-color: $primary-color-light;
    @include respond-min($breackpoint-sm) {
    color:yellow;
  }
}

a {
    color: $primary-color;
    &:hover, &:visited{
        color: $primary-color-dark;
    }
}

