@import "variables";
@import "footer";

h1 {
     color: $primary-color;
    background-color: $primary-color-dark;
}

h2 {
    color: $primary-color-dark;
    background-color: $primary-color-light;
}

@import "responsive";

a {
    color: $primary-color;
    &:hover, &:visited{
        color: $primary-color-dark;
    }
}

